.features {
    background-color: $secondaryBackgroundColor;

    .container {
        padding: 20px;
    }
}

.features__item:not(:last-child) {
    margin-bottom: 20px;
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.features__title {
    margin-bottom: 18px;

    font-size: 18px;
    font-weight: 600;
    
    color: $secondaryTextColor;
}

.features__desc {
    font-size: 14px;
    letter-spacing: -0.28px;

    color: $featureTextColor;
}
