.features {
    background-color: $secondaryBackgroundColor;

    .container {
        padding: 20px;

        @media screen and (min-width: 768px) {
            padding: 50px 32px;
        }

        @media screen and (min-width: 1200px) {
            padding: 50px;
        }
    }
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: 768px) {
        gap: 32px;
    }
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        gap: 70px;
    }
}

.features__item {
    padding-right: 28px;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 32px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 70px * 2) / 3);
        &:not(:last-child) {
            padding-right: 18px;
        }
    }
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    fill: $accentColor;
}

.features__title {
    margin-bottom: 18px;

    font-size: 18px;
    font-weight: 600;
    
    color: $secondaryTextColor;
}

.features__title--last {
    letter-spacing: 0.18px;
}

.features__desc {
    font-size: 14px;
    letter-spacing: -0.28px;

    color: $featureTextColor;
}
