.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 20px 20px 14px;
    }
}

.mobile-menu__open {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;

    border: 0px;
    background-color: inherit;
}

.open__icon {
    stroke: $mainTextColor;
}


