body {
    font-family: 'Montserrat', sans-serif;

    color: $mainTextColor;
    background-color: $mainBackgroundColor;
}

address {
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: 375px) {
        width: 375px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button:hover,
input:hover {
    cursor: pointer;
}

.title__accent {
    display: inline;
    color: $accentColor;
}

.socials__icon--22 {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.socials__icon--24 {
    @media screen and (max-width: 767px) {
        display: none;
    }
}


