.subscribe {
    background-image: url('../../images/subscribe-375.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: $secondaryBackgroundColor;

    .container {
        padding: 62px 20px 63px;
    }
}

.subscribe__title {
    display: block;
    margin: 0 auto 24px;
    width: 291px;

    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    text-align: center;
    text-transform: uppercase;

    color: $secondaryTextColor;
}

.subscribe__text { 
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.28px;
    text-align: center;

    color: $secondaryTextColor;
}

.subscribe__btn {
    display: block;
    width: 128px;
    height: 41px;
    margin: 0 auto;

    font-size: 14px;
    font-weight: 600;

    border: transparent;
    border-radius: 100px;
    color: $secondaryTextColor;
    background-color: $accentColor;

    transition: color 250ms $timingFunction, background-color 250ms $timingFunction;
}

.subscribe__btn:hover,
.subscribe__btn:focus {
    color: $accentColor;
    background-color: $interactionColor;
}
