// Palette
$mainTextColor: #111111;
$secondaryTextColor: #FFFFFF;
$featureTextColor: rgba(255, 255, 255, 0.7);
$reviewTextColor: rgba(17, 17, 17, 0.7);
$labelTextColor: #000000;

$mainBackgroundColor: #FAFAFA;
$secondaryBackgroundColor: #1E1823;
$elementBackgroundColor: #FFFFFF;

$accentColor: #FD9222;
$interactionColor: #FCF1E0;

// Transitions
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
